@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todoContiner {
  min-width: 375px;
}

.todoHero {
  width: 100%;
  min-height: 200px;
  background-image: url(./images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  position: fixed;
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
  color: white;
}

footer {
  align-self: flex-end;
}
